<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <link href="{{ site.url }}/css/foundation/normalize.min.css" rel="stylesheet" />
    <link href="{{ site.url }}/css/foundation/foundation.min.css" rel="stylesheet" />
    <link href="{{ site.url }}/css/master.min.css" rel="stylesheet" />
</head>
<body id="page">
    {% include header.html %}
    <article class="row">
        <div id="article-content" class="medium-10 column right">
            <h1>{{ page.title }}</h1>
            {{ content }}
            {% if site.disqus_shortname and page.comments %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}
        </div>
        <div id="article-meta" class="medium-2 column left">
            <a id="author-img"></a>
            <span id="author-name" class="medium-12 column text-center">BY AJEESH M S</span>
            <span class="medium-12 column text-center"><time datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-calendar"></i> {{ page.date | date: "%B %d, %Y" }}</time></span>
            {% if site.disqus_shortname and page.comments %}<span class="medium-12 column text-center"><i class="fa fa-comment"></i> COMMENT(S)</span>{% endif %}
        </div>
    </article>

    {% include scripts.html %}
</body>
</html>
